.table {
  margin-top: 20px;
  overflow: scroll;
  height: 630px;
  color: #6a5d5d;
  background-color: white;
}
.table tr{
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: .5rem;
}

.table tr:nth-of-type(odd){
  background-color: rgb(233, 248, 248);
}

@media (max-width: 990px){
  .table{
    height: 300px;
  }
}
